.pages {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    max-width: 210mm;
    max-height: 280mm;
    page-break-after: always;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    page-break-inside: auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: #dee2e6
}

td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
    border-collapse: collapse;
    page-break-inside: avoid;
    page-break-after: auto;
}

.bordertable {
    border: 3px solid black;
    width: 100%;
    height: 270mm;
    max-height: 270mm;
}

.borderheader {
    height: 15mm;
    text-align: center;
    font: 20px bold;
}


/* div {
    
} */

@media print {
    .no-print,
    .no-print * {
        display: none !important;
    }
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

img {
    display: block;
    margin: auto;
    max-width: 600px;
    max-height: 900px;
}

.vertical_cell {
    text-align: center;
}

.head_description {
    vertical-align: baseline;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.input-file-button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#inputExcelRead {
    display: none;
}

.innertable {
    margin: 0 auto;
}

.headline {
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
}

.item-headers {
    padding: 10px;
    font-style: bold;
}